@using Capstone.Web.Models
@model User

@{
    if (Model == null)
    {
        <ul class="nav navbar-nav navbar-right shared_navbar" >
            <li class="text-right"><a href="@Url.Action("Login","Users")">Login</a></li>
        </ul>
    }
    else
    {
        <ul class="nav navbar-nav navbar-right shared_navbar">
            <li><h4 style="color: white">Welcome, @Model.FirstName!</h4></li>
            <li></li>
            <li><a href="#">Manage Account</a></li>
            <li><a href=@Url.Action("Logout", "Users")>Logout</a></li>
        </ul>
    }
}

