
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<img style="width: 100%" src="~/Content/Images/BigSkyline.jpg" />
<body class="about_background">
    <h2 class="about_headers">Visiting "The Land"?</h2>

    <div class="about_paragraph">
        <p>
            Thinking of taking a trip to Cleveland, well you have excellent taste, and here at "This is CLEVELAND" we want to help you plan the best experience possible.
            We want to be your personal tour guide while navigating through Cleveland's countless
            attractions.  We make it easy for you to attend the best the city has to offer.  We provide recommendations
            for all sorts of landmarks; whether it be music, sports, restaurants, and many others.  Only the best and most beloved
            locations are approved for our site, ensuring that anyone and everyone will experience a memorable trip.
        </p>
    </div>

    <h2 class="about_headers">Why Cleveland?</h2>

    <div class="about_paragraph">
        <p>
            The city of Cleveland is one of the country's best kept secrets.  While not as large as other notable
            cities in the United States, Cleveland has a unique charm.  Located right along the coast of Lake Erie,
            it's setting brings a stunning beauty to it's urban design.  Several beaches and gorgeous piers are just minutes
            away from the hustle and bustle of the downtown metropolitan area.
        </p>

        <p>
            And there is no shortage of things to do in "The Land".  The city is a hotspot that thrives from it's multiple cultures
            and forms of entertainment.  Sports fans around the world will immediately recognize Cleveland's championship-caliber
            sports teams, and their stadiums, including Progressive Field and Quicken Loans Arena, are perfect places to catch a game.
        </p>

        <p>
            Fans of the arts will also feel more than welcome in Cleveland.  Spectacular art museaums and a historic theater district will
            surely suit those with a more high-brow taste in entertainment.  Dubbed "Playhouse Square", the district houses a total of
            nine different theaters; each with their own unique history and flare.
        </p>

        <p>
            Music of all styles is also an important staple in Cleveland's rich legacy.  Several famous concert venues welcome all forms of musicians,
            such as the nationaly-recognized "House of Blues" chain of venues to the locally famous Agora Theatre and Ballroom.  If classical music is
            preferred, Cleveland is also home to an internationally-recognized orchestra of tremendous talent; the Cleveland Orchestra.
            In addition to all of it's great live entertainment, Cleveland also houses the iconic Rock and Roll Hall of Fame; a destination that will
            be on the top of any music lover's list.
        </p>

        <p>
            Cleveland wouldn't be able to offer so many different forms of entertainment without excellent dining experiences to go along with them.
            The city has a superb restaurant to meet any culinary desire.  Famous chefs such as Michael Symon own several restaurants throughout the city
            and it's neighboring suburbs, while countless other Clevelander favorites are scattered throughout the area.  Beer lovers can also rejoice, for there
            are several exciting breweries to experience; such as the popular Market Garden Brewery or the larger, award-winning Great Lakes Brewing Company.
        </p>

        <p>
            Lastly, more nocturnal visitors are sure to have a great time while enjoying Cleveland's prominent night life.  One might never leave after a
            walk down the always booming East 4th Street; which is packed with one beloved landmark after another.  Those wishing to spend their night along the
            water are also in luck, as the city's Flats East Bank district is another bustling scene adored by Cleveland natives.  No matter the time of the day,
            it's seemingly impossible to ever be bored in a city with this much to offer.
        </p>
    </div>
</body>
