body {
    /*color: white;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    background-size: contain;
    background-image: url('Images/5284805606_34a2f9f5a3_o.jpg');
    opacity:0.8;*/
    background-color:#233237;
    height:500px;
}

.boxesPadding{
    padding-bottom:20px;
}



html{
    margin: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

    li a, .dropbtn {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        li a:hover, .dropdown:hover .dropbtn {
            background-color: red;
        }

    li.dropdown {
        display: inline-block;
    }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

        .dropdown-content a:hover {
            background-color: #f1f1f1
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.footer {
    margin-bottom: 0px !important;
    color:white;
    background-color:#233237;
    margin-top:15px;
    opacity:1 !important;
    padding-top:20px;
}

/*Home View*/
.carousel-img {
    width: 100%;
    height: 960px !important;
}

.item {
    width: 100%;
    height: 960px !important;
}

.carousel-headline {
    position: absolute;
    bottom: 50%;
    left: 12%;
    color: white;
    font-size: 110px;
    text-align: center;
    text-shadow: 7px 5px 7px #333;
    font-family: Rockwell
}

.carousel-indicators {
    margin-left: 0px;
    width: 10%;
}

.home-info-bar {
    text-align: center;
    font-size: 30px;
    background-color: #18121E;
    margin-bottom: 20px;
    color: white;
    padding: 110px;
}

.home-info {
    padding: 0px;
    margin: 0px;
    display: inline-block;
    width: 45%; 
}

.home-box {
    margin: 0px !important;
    width: 55%;
    border: 2px solid black;
    border-radius:5px;
    max-width: 100%;
    max-height: 100%;
}

div.home-info > p {
    font-size: 20px;
    padding-top: 20%;
    padding-bottom: 20%;
    /*background-color: #333;*/
    color: white;
    text-align: center;
}

#middle-img {
    float: right;
}

.navbar-nav{
    background-color: #984B43;
    font-weight:900;
    font-family:cursive;
}

.btn-primary{
    margin-bottom:30px;
    margin-top:10px;
}

.form-width2 {
    width: 300px;
    padding-bottom:25px;
}

.login-margin {
    margin-top: 8%;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    background-color: #233237;
    opacity:0.8;
    border-radius: 10px 100px 10px 100px;
    font-weight:bold;
    padding-bottom: 30px;
    padding-top: 20px;
}

.full_background {
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size:100%;
    background-image: url('Images/5284805606_34a2f9f5a3_o.jpg');
    /*opacity: 0.9;*/    
}

::-webkit-input-placeholder {
    text-align: center;
}
.register_margin {
    margin-top: 4%;
    margin-right: 25%;
    margin-left: 30%;
    background-color: #233237;
    opacity: 0.8;
    font-weight:bold;
    border-radius: 10px 150px 10px 140px;
    text-align: center;
    padding-bottom:10px;
    padding-top:10px;
    
}

/*NEW TRIP*/
.col-height {
    display: table-cell;
    height: 100%;
    float: none;
}

/*CATEGORY VIEW*/
.category-jumbo {
    border: ridge;
    border-color: #860038;
    border-radius: 6px;
    text-align: center;
    background-color: #FDBB30;
    margin-bottom: 30px;
    margin-left: 10%;
    margin-right: 10%;
    height: 150px;
}

main {
    display: inline-block;
}

.filter-container {
    width: 150px;
}

.category-jumbo > h2 {
    font-size: 100px;
    vertical-align: central;
    color: #860038;
}

.location-detail {
    border: ridge;
    border-color: black;
    border-radius: 6px;
    background-color: #860038;
    color: #FDBB30;
    height: 350px;
    text-align: center;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    margin-top: 5%;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.submit_button{
   background-color: #5FB68C;
}
.login_register_color {
    color: #5FB68C;
    font-size: 16px;
}
.collaborators{
float: right;
margin-right:-100px;
display: inline;
font-size: 16px;
}

.footer_address{
  float: left;
  margin-left: -100px;
  color:white;

}
.icon_size {
    font-size: 25px;
    color:white;
}

h1 {
    font-family: Snell Roundhand, cursive;
}

.detail-container{
    display:block;
    width:100%;
    height:auto;
}

.overlay{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    height:100%;
    width:100%;
    opacity:0;
    transition:.5s ease;
    background-color:crimson;
}

.detail-container:hover .overlay{
    opacity:1;
}

/*password validation*/
#register .short {
    font-weight: bold;
    color: #FF0000;
    font-size: larger;
}

#register .weak {
    font-weight: bold;
    color: orange;
    font-size: larger;
}

#register .good {
    font-weight: bold;
    color: #2D98F3;
    font-size: larger;
}

#register .strong {
    font-weight: bold;
    color: limegreen;
    font-size: larger;
}
.shared_navbar {
  background-color:#984B43;
   height:60px;
   font-size: 20px;
   margin-right: 20px;
}
.navbar_font{
    font-size: 20px;
}



