@using Capstone.Web.Models;
@model List<Trip>

@{
    ViewBag.Title = "MyTrips";
}
<!--I'M A COMMENT-->
<div 
<input id="MyTripsPgLocator" type="hidden" />

<h2 style="color: white;" class="text-center">MyTrips</h2>

<div class="container-fluid pre-scrollable" style="margin: 10px; background-color: #233237; padding-top: 10px; padding-bottom: 20px; width:100%; height: 300px; color: white;">
    @{
        if (Model.Count == 0)
        {
            <h4>No Trips Saved</h4>
        }
        else
        {
            for (int i = 0; i < Model.Count; i++)
            {
                if (Model[i].Landmarks.Count == 0)
                {
                    continue;
                }
                Trip trip = Model[i];
                <div id=@(trip.Id) class="container-fluid tripDiv" style="height: 50%;margin: 0px; padding: 20px;">
                    @{
                        string landmarkFolderName = trip.Landmarks[0].Categories[0].Replace(" ", String.Empty);
                        string landmarkImgName = trip.Landmarks[0].Name.Replace(" ", "_") + ".jpg";
                    }
                    <div class="row">
                        <div class="col-sm-3">

                            <img src=@("../Content/Images/" + landmarkFolderName + "/" + landmarkImgName) style="height: 55%;width: 55%" class="text-left" />
                        </div>

                        <div class="col-sm-3">
                            <h3 class="text-center">@trip.Name</h3>
                        </div>
                        <div class="col-sm-3">
                            <h4 class="text-center">@trip.TripDate.ToShortDateString()</h4>
                        </div>
                        <div class="col-sm-3">
                            <h3> @trip.Description</h3>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="submit" id="delete_trip" class="btn btn-primary submit_button"> Delete Trip</button>
                        </div>
                    </div>
                </div>
                            }

                        }
    }
</div>

<div class="container-fluid" style="margin-top: 20px; margin-bottom: 20px;">
    <div class="row">

        <div class="col-sm-8">
            <div id="routeMap" style="height: 600px; border:10px solid #984B43"></div>
            <button style="color: black;" class="btn btn-primary submit_button">Walking</button>
            <button style="color: black;" class=" btn btn-primary submit_button">Driving</button>
            <div id="tripDirections"></div>
        </div>
   
        <div id="routeDirections" class="col-sm-4 pre-scrollable" style=" margin-top: 20px; color: white; float:left; width: 600px; max-height: 600px;">
            <h1>Directions</h1>
        </div>
       
    </div>
</div>