@using Capstone.Web.Models;
@model List<Trip>

@{
    ViewBag.Title = "MyTrips";
}
<!--I'M A COMMENT-->

<input id="MyTripsPgLocator" type="hidden" />

<h2 style="color: white;">MyTrips</h2>

<div class="container-fluid" style="margin: 0px 10px; background-color: darkgray; padding-top: 10px; padding-bottom: 20px; height:20%">
    @{
        if (Model.Count == 0)
        {
            <h4>No Trips Saved</h4>
        }
        else
        {
            for (int i = 0; i < Model.Count; i++)
            {
                if (Model[i].Landmarks.Count == 0)
                {
                    continue;
                }
                Trip trip = Model[i];
                <div id=@(trip.Id) class="container-fluid tripDiv" style="height: 50%;margin: 0px 10px" >
                    @{
                        string landmarkFolderName = trip.Landmarks[0].Categories[0].Replace(" ", String.Empty);
                        string landmarkImgName = trip.Landmarks[0].Name.Replace(" ", "_") + ".jpg";
                    }
                    <img src=@("../Content/Images/" + landmarkFolderName + "/" + landmarkImgName) style="max-height: 100%; max-width: 100%" />
                    <h3 class="text-center">@trip.Name</h3>
                    <h4 class="text-center">@trip.TripDate.ToShortDateString()</h4>
                    <h3> @trip.Description</h3>
                    <button type="submit" id="delete_trip"> Delete Trip</button>
                </div>
                           }

                        }
    }
</div>

<div class="container-fluid" style="margin-top: 20px; margin-bottom: 20px;">
    <div class="col-md-12">
        <div id="routeMap" style="height: 500px"></div>
        <button style="color: black;">Walking</button>
        <button style="color: black;">Driving</button>
        <div id="tripDirections"></div>
    </div>
</div>

<div id="routeDirections" class="container-fluid" style="margin: 0px 10px; margin-top: 20px; margin-bottom: 20px; background-color: white; color: black;">
    <h1>Directions</h1>
</div>