@using Capstone.Web.Models;
@model List<Trip>
@{
    ViewBag.Title = "MyTrips";
}

<h2>MyTrips</h2>
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            @{
                if (Model.Count == 0)
                {
                    <h4>No Trips Saved</h4>
                }
                else
                {
                    <div id="accordion">
                        @{
                            for (int i = 0; i < Model.Count(); i++)
                            {
                                Trip t = Model[i];
                                <h3>@(i + 1 + ": " + t.Name)</h3>
                                <h4>Date of Travel: @t.TripDate.ToShortDateString()</h4>
                                <p>@t.Description</p>
                                <h4>Sites</h4>
                            }
                        }
                    </div>
                }
            }
        </div>
        <div id ="#routeMap" class="col-lg-6" style="width: 500px;"></div>
        <button>Walking</button>
        <button>Driving</button>
    </div>
</div>



